.row {
   border: 1px solid black;
   /*width:360px;   */
   height:120px;
   width: 360px;
}
.cell {
    border: 1px solid black;
    display: inline-block;
    height:118px;
    width:118px;
}
.colorCellO {
    background-color: orange;
}

.colorCellX {
    background-color: green
    ;
}